<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leshadow.mapme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZYdF5HFQ5lEVpc918YL34keYjyf4CDb4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MapActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".CustomPhotoGalleryActivity" />
        <activity android:name=".MainImagesActivity" />
        <activity android:name=".TripActivity" />
        <activity android:name=".LoginAccountActivity" />
        <activity android:name=".RegisterAccountActivity" />
        <activity android:name=".LoginSuccessActivity" />
        <activity android:name=".ServerLoginActivity" />
        <activity android:name=".ServerRegisterActivity" />
        <activity android:name=".ServerUserAreaActivity" />
        <activity android:name=".LocalServerLoginActivity" />
        <activity android:name=".LocalServerUserAreaActivity" />
        <activity android:name=".StoreImageActivity" />
        <activity android:name=".UserViewActivity" />
        <activity android:name=".InputInfoActivity" />
        <activity android:name=".ImageInfoActivity"></activity>
    </application>

</manifest>